<h2 class ="page_title">Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class:"form" }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  
   <div class="form_field">
    <%= f.label :username, :class => "label"  %><br />
    <%= f.text_field :username, autocomplete: "username", :class => "input-field"  %>
  </div>

  <div class="form_field">
    <%= f.label :email, :class => "label"  %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", :class => "input-field" %>
  </div>

  <div class="form_field">
    <%= f.label :password , :class => "label" %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", :class => "input-field" %>
  </div>

  <div class="form_field">
    <%= f.label :password_confirmation, :class => "label" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", :class => "input-field" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", :class => "submit-btn" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
