<h1 class= "page_title">Create a meme!</h1>
<%= form_for(@meme) do |f| %>
  <ul>
  <% @meme.errors.full_messages.each do |error| %>
    <li><%= error %></li>
  <% end %>
  </ul>

  <p class= "form_field">
    <div class= "label"><%= f.label :title %><br /></div>
    <%= f.text_field :title %>
  </p>
  <p class="form_field">
    <div class= "label"><%= f.label :source %><br /></div>
    <%= f.text_field :source %>
  </p>
  <p class="form_field">
    <div class= "label"><%= f.label :type %><br /></div>
    <%= f.select :type, Meme.types.keys.to_a %>
  </p>
  <p class="form_field"> 
    <div class= "label"><%= f.label :category %><br /></div>
    <%= f.collection_select :category_id, Category.all, :id, :name%>
  </p>
  <p class="form_field">
    <%= f.submit %>
  </p>
<% end %>

