<h1 class= "page_title">Create a meme!</h1>
<%= form_for(@meme) do |f| %>
  <ul>
  <% @meme.errors.full_messages.each do |error| %>
    <li><%= error %></li>
  <% end %>
  </ul>

  <p class= "form_field">
    <div class= "label"><%= f.label :title %><br /></div>
    <%= f.text_field :title, :class => "input-field"%>
  </p>
  <p class="form_field">
    <div class= "label"><%= f.label :source %><br /></div>
    <%= f.text_field :source , :class => "input-field"%>
  </p>
  <p class="form_field">
    <div class= "label"><%= f.label :type %><br /></div>
    <%= f.select :type, Meme.types.keys.to_a , {}, {:class => "select_field"}%>
  </p>
  <p class="form_field"> 
    <div class= "label"><%= f.label :category %><br /></div>
    <%= f.collection_select :category_id, Category.all, :id, :name, {}, :class => "select_field"%>
  </p>
  <p class="form_field">
    <%= f.submit "Create!", :class => "submit-btn" %>
  </p>
<% end %>

