<h1> <%= @meme.title%> </h1>
 <%= image_tag (@meme.source)%>
<p>Votos: <%=@meme.votes_count%> </p>
<p>Category: <%=@meme.category.name%> </p>

<%if @meme.voters.ids.include?(current_user.id)%>
    <%= link_to  "Unvote", vote_path ,method: :delete %>
<%else%>
    <%= link_to  "Vote", votes_path(@meme),method: :post %>
<%end%>

<p>Comentarios: </p>
<%@meme.comments.each do |comment|%>
    <p><%= comment.body%> </p>
<%end%>
