<!DOCTYPE html>
<html>
  <head>
    <title>Memeable</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice%></p>
    <p class="alert"><%= alert%></p>
    <%= yield %>

    <footer class="footer">
      <div class="team">
        <%= link_to  "alexRai98", "https://github.com/alexRai98" ,target:  "_blank" %>
        <%= link_to  "gpanedra",  "https://github.com/gpanebra",target:  "_blank" %>
        <%= link_to  "Saidab1", "https://github.com/Saidab1",target:  "_blank" %>

      </div>
      <div class="codeable">
        <p> Codeable #2</p>
      </div>
    </footer>
  </body>
</html>
