<!DOCTYPE html>
<html>
  <head>
    <title>Memeable</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%=link_to "Home", root_path%>      
      <%=link_to "By Category", categories_path%>      
      <%=link_to "By Popularity", popular_path%> 
      <%=link_to "Search"%>           
      <%if user_signed_in?%>
        <%=link_to "Create Meme", new_meme_path%> 
        <p>Welcome, <%=current_user.username%></p>
        <%=link_to "My Account", account_details_path%>
        <p><%=link_to "Log Out", destroy_user_session_path, method:"delete"%></p>        
      <%else%>        
        <%=link_to "Login", new_user_session_path %>                
      <%end%>
    </header>
    <p class="notice"><%= notice%></p>
    <p class="alert"><%= alert%></p>
    <%= yield %>

    <footer class="footer">
      <div class="team">
        <%= link_to  "alexRai98", "https://github.com/alexRai98" ,target:  "_blank" %>
        <%= link_to  "gpanedra",  "https://github.com/gpanebra",target:  "_blank" %>
        <%= link_to  "Saidab1", "https://github.com/Saidab1",target:  "_blank" %>

      </div>
      <div class="codeable">
        <p> Codeable #2</p>
      </div>
    </footer>
  </body>
</html>