<!DOCTYPE html>
<html>
  <head>
    <title>Memeable</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css2?family=Lilita+One&display=swap" rel="stylesheet">
  </head>

  <body>
    <main class="main">
      <header class="navbar">
        <nav class="navbar-menu">
          <ul>
            <%= image_tag  "logo.svg" ,class: "navbar-logo"%>
            <li> <%=link_to "By Category", categories_path%> </li>
            <li> <%= link_to "By Popularity", popular_path %> </li>
            <%if user_signed_in?%>              
              <li> <%= link_to "Search", root_path %> </li>
              <li> <%= link_to "Create Meme", new_meme_path%> </li>
            <%end%>
          </ul>
        </nav>
        <nav class="navbar-menu">
          <ul>
            <%if user_signed_in?%>
              <li> <%=link_to "Log Out", destroy_user_session_path, method: :delete%> </li>
              <li> <span> Welcome, <%= current_user.username%> <span> </li>
              <li> <%=link_to "My Account", account_details_path%> </li>
            <%else%>
              <li> <%=link_to "Login", new_user_session_path%> </li>
            <%end%>
          </ul>
        </nav>
      </header>
      <div class="notice"><%= notice%></div>
      <div class="alert"><%= alert%></div>
      <%= yield %>

      <footer class="footer">
        <div class="team"> 
          <p> Made by: <p>
          <%= link_to  "alexRai98", "https://github.com/alexRai98" ,target:  "_blank" %>
          <%= link_to  "gpanedra",  "https://github.com/gpanebra",target:  "_blank" %>
          <%= link_to  "Saidab1", "https://github.com/Saidab1",target:  "_blank" %>
        </div>
        <div class="codeable">
          <p> Codeable #2</p>
        </div>
      </footer>
    </main>
  </body>
</html>